@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body,
a,
input,
button {
  color: white;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  letter-spacing: 1px;
}

/* TYPOGRAPHY */

h1 {
  font-size: 7rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1px;
}

p {
  letter-spacing: 1px;
}

.temp,
.task-name {
  font-size: 1.5rem;
}

.mantra {
  font-size: 2rem;
}

.focus label,
.main-focus-form input,
.focus-added {
  font-size: 2rem;
  letter-spacing: 1px;
}

.todo-popup .close,
.close-links,
.go-back {
  font-size: 1.5rem;
}

/* TYPOGRAPHY ENDS */

.container {
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
}

.main {
  width: 50%;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.weather {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.city {
  margin-top: -0.5rem;
}

/* Main focus */

.focus {
  margin-top: 3rem;
  align-self: center;
}

.main-focus-form {
  display: flex;
  flex-direction: column;
}

.main-focus-form input {
  text-align: center;
  background: none;
  border: none;
  border-bottom: 3px solid rgb(255, 255, 255);
  outline: none;
}

.focus-added {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.focus-added i:hover {
  color: green;
  text-shadow: none;
}

/* TODO SECTION */

.todo-link,
.link {
  cursor: pointer;
}

.todo-popup,
.links-popup .links-display,
.links-popup .links-form-display {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  position: absolute;
  min-height: 300px;
  min-width: 300px;
  max-width: 400px;
  padding: 15px 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-popup {
  right: 2%;
  bottom: 7%;
}

.todo-popup .close,
.close-links,
.go-back {
  align-self: flex-end;
  cursor: pointer;
}

.add-todo {
  text-align: center;
}

.add-todo button,
.btn {
  background-color: rgba(156, 215, 240, 0.5);
  margin-top: 5px;
  padding: 5px 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.todo-form input,
.links-form-display input {
  font-size: 1rem;
  background: none;
  border: none;
  outline: none;
}

input::placeholder,
.links-form-display input::placeholder {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

/* SINGLE TODO */

.todo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5px;
}

/* LINKS POPUP SECTION */

.links-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links-popup .links-display {
  display: none;
}

.links-form-display input {
  font-size: 1.5rem;
  border-bottom: 1px solid white;
}

.links-form-display input::placeholder {
  font-size: 1.3rem;
}

.links-popup .links-form-display {
  display: none;
}

/* Links */

.all-links {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/* UTILS */

.hidden {
  display: none;
}

.hide {
  opacity: 0;
}

/*  MOBILE SCREEN CSS */
